@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css");

:root {
  --text-primary-color: #f7f7f7;
  --text-secondary-color: #9da1a3;
  --text-navlinks-bg-color: #232c30;
  --bg-color: #0a1519;
}

.problem-detail-container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.split-view {
  display: flex;
  flex: 1;
}

.problem-description {
  flex: 1;
  padding: 20px;
  margin: 2rem;
  overflow-y: auto;
  background-color: #191f22;
  padding-top: 10px;
  color: var(--text-primary-color);
  font-family: 'Lexend';
  gap: 0.25rem;
  font-size: 1rem;
  font-weight: 250;
  border-radius: 6px;
  scroll-behavior: smooth;
}

.problem-description h1,
.problem-description h2,
.problem-description h3 {
  color: var(--text-primary-color);
}

.problem-difficulty {
  font-weight: 300;
}

.problem-difficulty.Easy {
  color: green;
}

.problem-difficulty.Medium {
  color: orange;
}

.problem-difficulty.Hard {
  color: red;
}

.problem-description blockquote {
  background-color: #222c30;
  padding: 10px 15px;
  margin: 15px 0;
  border-radius: 6px;
  color: var(--text-primary-color);
}

.code-editor-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #222c30;
  margin: 2rem;
}


.javascript,
.python,
.cpp,
.java {
  color: var(--text-secondary-color);
  background-color: var(--text-navlinks-bg-color);
}

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid var(--border-color);
  background-color: #191f22;
}

.editor-header select {
  padding: 5px 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  font-size: 14px;
  font-family: "Lexend";
  cursor: pointer;
  color: var(--text-secondary-color);
}

.editor-buttons button {
  margin-left: 10px;
  padding: 6px 12px;
  background-color: var(--button-bg-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.editor-buttons button:hover {
  background-color: var(--button-hover-bg-color);
}

.writing-area {
  background-color: var(--text-secondary-color);
}



.tabs {
  display: flex;
  gap : 0.3rem;
  margin-top: 5px;
  
}

.tabs .bottom-header{
  background-color: var(--bg-color);
  border-radius: 6px;
  width: 100%;
}

.tabs button {
  padding: 10px 20px;
  cursor: pointer;
  background: var(--);
  border: none;
  outline: none;
  background-color: var(--secondary-bg-color);
  font-family: 'Lexend';
  font-size: 14px;
  font-weight: 300;
  color: var(--text-secondary-color);
  margin-top : 1rem;
  
}

.tabs button.active {
  font: var(--text-primary-color);
  font-family: 'Lexend';
  font-size: 14px;
  font-weight: 400;
  color: var(--text-primary-color)
}

.test-case-content {
  margin-top: 10px;
  height: 10rem;
  background-color: var(--bg-color);
}

.test-case-buttons {
  display: flex;
  margin-bottom: 10px;
  margin-left: 1rem; 
  margin-top: 10px;
}

.test-case-buttons button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  outline: none;
  background-color: #191f22;
  color: var(--text-secondary-color);
  font-family: 'Lexend';
  margin-top: 10px;
}

.test-case-buttons button.active {
  background-color: #191f22;
  color: var(--text-primary-color);
}

.input-textarea {
  width: 100%;
  height: 150px;
  font-size: 14px;
  font-family: 'Lexend';
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--text-navlinks-bg-color);
  color: var(--text-primary-color)
}

.input-textarea .active{
  width: 100%;
  height: 150px;
  font-size: 14px;
  font-family: monospace;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--text-navlinks-bg-color);
  color: var(--text-primary-color);

}

.output-section {
  height: 14rem;
}


.SplitPane {
  position: relative !important;
}

.Pane1,
.Pane2 {
  overflow: auto;
}

.Resizer {
  background: var(--border-color);
  width: 5px;
  cursor: col-resize;
}



@media (max-width: 768px) {
  .split-view {
    flex-direction: column;
  }

  .problem-description,
  .code-editor-section {
    flex: none;
    width: 100%;
  }
}


.input-display,
.output-display {
  background-color: #191f22;
  padding: 10px;
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: var(--text-primary-color);
}

.explanation-text {
  margin-top: 10px;
  color: var(--text-secondary-color);
}

.test-case-content strong {
  display: block;
  margin-top: 10px;
  color: var(--text-primary-color);
}

.test-case-content p {
  margin-top: 5px;
  color: var(--text-secondary-color);
}