@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --text-primary-color: #f7f7f7;
  --text-secondary-color: #9da1a3;
  --text-navlinks-bg-color: #232c30;
  --bg-color: #0a1519;
}

.problem-list-container {
  background-color: var(--bg-color);
  flex-direction: column;
  position: relative;
  width: 100%;
  border-left: 0.05rem solid #3b4447;
  border-right: 0.05rem solid #3b4447;
}

.problem-list-title{
  border-bottom: 0.05rem solid #3b4447;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.problem-list-title-heading {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-primary-color);
  background-color: var(--bg-color);
  padding: 1rem 1rem;

  margin-top: 0;
  margin-bottom: 0;
}

.problem-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.problem-table th,
.problem-table td {
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  text-align: left;
  color: var(--text-primary-color);
  font-size: 0.875rem;
  font-weight: 300;
}

.problem-table th {
  background: var(--bg-color);
  border-bottom: 0.05rem solid #3b4447;
  color: var(--text-primary-color);
  font-weight: bold;
}

.problem-table tr:nth-child(even) {
  background-color: rgba(35, 44, 48, 0.4);
}

.problem-title{
  color: var(--text-primary-color);
  text-decoration: none;
  transition: all 0.3s ease;
}

.problem-title:hover{
  color: #8cb4ff;
  font-weight: 400;
  text-decoration: none;
}

#problem-topics {
  color: var(--text-secondary-color);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.problem-topic{

  background-color: var(--text-navlinks-bg-color);
  padding: 0.25rem 0.75rem;
  border-radius: 0.75rem;
  
  font-size: 0.75rem;
}

.difficulty.easy {
  color: #00b8a3;
}

.difficulty.medium {
  color: #ffc01e;
}

.difficulty.hard {
  color: #ff375f;
}

.pagination-controls{

  margin: 1rem;

  display: flex;
  flex-direction: row;
  row-gap: 1rem;
  justify-content: end;

}

.pagination-detail{
  
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--text-secondary-color);

  margin: 0 1rem;

}

.pagination-detail:hover{
  color: var(--text-secondary-color);
}

.pagination-previous-page-button,
.pagination-next-page-button{
  
  background-color: var(--text-navlinks-bg-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;

  font-family: 'Lexend';
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--text-primary-color);

  transition: all 0.3s ease;

}

.pagination-previous-page-button:hover,
.pagination-next-page-button:hover{
  
  background-color: #669da1a3;
}